// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product-listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
// .product-index-container {
//     display: flex;
// }

.product-index-item {
    margin-left: 30px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 250px;

    // display: flex;
}

.product-name-price {
    display: flex;
    width: 45%;
}

.product-name {
    font-weight: 500px;
    font-size: 16px;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;

}

.product-photo {
    width: 12rem;
    height: 12rem;
}

// product show page //

.product-show-container {
    margin-top: 2vh;
}

.product-show-sub-container {
    display: grid;
    grid-template-columns: 85%;
    justify-content: center;
}

.product-show-top {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-left-col {
    padding: 2rem;
}

.product-right-col {
    padding: 2rem;
    width: 60%;
}

.add-to-cart-btn {
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 10px 50px;
    border-radius: 18px;
}

.product-show-name {
    font-size: 3rem;
    padding: 1vh;
}

.price-stock {
    display: inline-flex;
    padding: 0.5vh;
}

.product-show-price {
    font-size: 1.5rem;
    padding: 2vh;
}

.in-stock {
    font-size: 1rem;
    padding: 2.5vh 35.5vh;
}

.add-to-cart-btn-container {
    padding: 3vh 0;
}

.product-description-container .product-show-description {
    padding-top: 1vh;
}

img.product-show-photo {
    width: 30vw;
}

.product-show-mid {
    padding: 2vh;
    display: flex;
    flex-direction: row;

}

.show-page-banner span {
    font-size: 2.5vh;
    padding: 0 1rem;
}