.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 30px 0; 
    background-image: linear-gradient(to bottom, rgb(224, 99, 95) , rgb(241, 195, 193));

}

h1.footer-logo {
    color: white;
    font-family: 'Bree Serif', serif;
    padding-left: 1vw;
}

.footer-socials a {
    color: white;
    margin-left: 5vw;
    font-size: 1.5em;
}


.footer-end {
    padding-right: 1vw;
    color: white;
}

