h2.landing-page-header {
    font-family: "Guardian-EgypTT",serif;
    font-weight: 150;
    letter-spacing: .5px;
    font-size: 24px;
    line-height: 28px;
    // margin-left: 200px;
    text-align: center;
    margin: 20px 0px;
}

h3.landing-page-sub-header {
    font-family: "Guardian-EgypTT",serif;
    font-style: bold;
    letter-spacing: .5px;
    font-size: 20px;
    text-align: center;
    margin: 10px 0px;
}

.landing-pics-container {
    display: flex;

    .landing1-container, .landing2-container {
        margin-right: 2em;
        padding-bottom: 3em;

        #landing1, #landing2 {
            width: 6em;
            height: 8em;
        }
    }
    

}

.landing-page-sub {
    width: 100%;
    background: rgb(224, 235, 228);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.mid-banner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 15px;
}

.mid-banner {
    justify-items: center;
    width: 30%;
    padding: 0 12px;
}

h3.mid-banner-header {
    text-align: center;
}

p.mid-banner-p {
    text-align: center;
}

h2.trending-items-header {
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
    font-weight: bold;
    letter-spacing: .5px;
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}