.navbar-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.createtsy-logo {
    cursor: pointer;
    margin-left: 10px;
    width: 8%;
}

.right-nav-buttons {
    justify-content: flex-end;
    display: flex;
    // margin-right: 30px;
}

.nav-signin-button {
    border-radius: 20px;
    border: 1px solid rgb(229, 133, 129);
    text-align: center;
    // border: 1px 1px solid white;
    width: 78px;
    height: 36px;
    color: rgb(229, 133, 129);
    margin-right: 15px;
    font-weight: 500;
    font-size: 20px;
}

.nav-signin-button:hover {
    // border-radius: 20px;
    background-color: rgb(229, 133, 129);
    color: white;
}

.shopping-cart-icon {
    border-radius: 50px;
    text-align: center;
    // border: 1px solid white;
    cursor: pointer;
    width: 34px;
    height: 34px;
    // margin-left: 20px;
    color: rgb(229, 133, 129);
    margin-right: 15px;
}

.shopping-cart-icon:hover {
    border-radius: 50%;
    background-color: rgb(229, 133, 129);
    // background-color: lightgrey;
    padding: 8px;
    
}

.nav-signout-button {
    border-radius: 20px;
    border: 1px solid rgb(229, 133, 129);
    text-align: center;
    width: 78px;
    height: 36px;
    color: rgb(229, 133, 129);
    margin-right: 12px;
    font-weight: 500;
    font-size: 20px;
}

.nav-signout-button:hover {
    background-color: rgb(229, 133, 129);
    color: white;
}

.nav-right-buttons {
    display: flex;
}
