@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

.navbar-container {
    display: flex;
    justify-content: space-between;    padding: 5px 0px;
}


h1.createtsy-logo {
    color: rgb(227, 128, 124);
    font-family: 'Bree Serif', serif;
    padding-left: 30px;
}

.right-nav-buttons {
    justify-content: flex-end;
    display: flex;
    margin-top: 7px;
    margin-right: 40px;
}

.nav-signin-button {
    border-radius: 20px;
    border: 1px solid rgb(229, 133, 129);
    text-align: center;
    width: 78px;
    height: 36px;
    color: rgb(229, 133, 129);
    margin-right: 40px;
    font-weight: 500;
    font-size: 20px;
}

.nav-signin-button:hover {
    background-color: rgb(229, 133, 129);
    color: white;
    
}

.shopping-cart-icon {
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    width: 34px;
    height: 34px;
}

.nav-signout-button {
    border-radius: 20px;
    border: 1px solid rgb(229, 133, 129);
    text-align: center;
    width: 78px;
    height: 36px;
    color: rgb(229, 133, 129);
    margin-right: 40px;
    font-weight: 500;
    font-size: 20px;
}

.nav-signout-button:hover {
    background-color: rgb(229, 133, 129);
    color: white;
}

.nav-right-buttons {
    display: flex;
    margin-top: 7px;
    margin-right: 40px;
}

.search-container {
    padding-top: 3px;
}

.search-input {
    height: 40px;
    line-height: 28px;
    width: 55rem;
    border-radius: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    border: 1px solid rgba(34, 34, 34, 0.15);
    background: rgb(241, 241, 241);
    font-size: 1rem;
}

.search-button {
    margin-left: 0.5rem;
    font-size: 1em;
}


